<!-- <div class="product">
  <p> <span>FOUND: </span> {{productsList.length}} Products</p>
</div> -->
<!-- <div class="container">
  <section *ngFor="let product of productsList">
    <div class="section1">
      <img src={{product.images[0]}} alt="">
    </div>
    <div class="section2">
      <div class="title">
        <p>{{product.title}}</p>
        <p class="price">{{product.price|currency}}</p>
      </div>
      <div class="rating">
        {{product.rating}} ratings
    </div>
    </div>
  </section>
</div> -->

<router-outlet></router-outlet>