<!-- <div class="product">
  <p> <span>FOUND: </span> {{productsList.length}} Products</p>
</div> -->
<!-- <div class="container">
  <section *ngFor="let product of productsList">
    <div class="section1">
      <img src={{product.images[0]}} alt="">
    </div>
    <div class="section2">
      <div class="title">
        <p>{{product.title}}</p>
        <p class="price">{{product.price|currency}}</p>
      </div>
      <div class="rating">
        {{product.rating}} ratings
    </div>
    </div>
  </section>
</div> -->

<router-outlet></router-outlet>

<input type="text" #searchText>

<button (click)="search(searchText)">Search</button>
<span [innerHTML]="searchKey"></span>

<!-- <h1 i18n="@@welcomeMessage">Welcome to our application!</h1> -->
<h1 i18n="@@welcomeMessage">Welcome to our application!</h1>
<h1 i18n="@@new">new</h1>

{{titlfe + 12+ "123"}}