.form{
display: flex;
justify-content: center;
border: 1px solid black;
width: 50%;
border-radius: 20px;
align-items: center;
padding: 50px 0px;
box-shadow: 20px;
}

.fields{
    margin-top:20px
}

input[type="text"]{
    border-radius: 20px;
    outline:none;
    border: 1px solid black;
    padding: 10px; 
}

select {
    width: 100%;
    border-radius: 20px;
    outline:none;
    border: 1px solid black;
    padding: 10px; 
}

