 <!-- <div *ngFor="let log of logss | keyvalue">
{{log.key}} {{log.value}}
 </div>

 <div *ngFor="let log of log1 | keyvalue">
    {{log.key}} {{log.value}}
     </div>

<button (click)="sendDataToParent()">Send it</button> -->



<!-- <app-form (sendDataToParent)="recieveFormData($event)" [flag]="isLoggedinFlag">
   <div ngProjectAs="contactForm" class="title">
      <h1> Hi There welcome</h1>
      <form #contactForm="ngForm" >
         <div class="fields">
            <label>Contact</label>
            <input type="text" placeholder="contact number">
         </div>
         <div class="fields">
            <label>Email</label>
            <input type="text" placeholder="Email">
         </div>
         <button>Submit</button>
      </form>
</div>
</app-form>
<p> {{loginData['username']}}</p>
<p> {{loginData['password']}}</p>

<button (click)="isLoggedin()">is Login</button> -->

   <ng-container #container></ng-container>

<button (click)="showAddEdit()">Add User</button>
<button (click)="showTableData()">show User</button>
<div class="form"*ngIf="data else showData" >
   <form [formGroup]="userForm" (ngSubmit)="addEditUser()">
   <div class="fields">
      <label>User Name</label>
   </div>
      <input type="text" formControlName="username" placeholder="username">
      <br>
      <span class="error" [ngStyle]="{'color': 'red'}" *ngIf="username && username.invalid && username.touched"> Username is required      </span>
   <div class="fields">
      <label>Email</label>
   </div>
      <input type="text" formControlName="email" placeholder="email">
      <br>
      <span class="error" [ngStyle]="{'color': 'red'}" *ngIf="email && email.invalid && email.touched">
         <ng-container *ngIf="email.errors?.['required']">Email is required</ng-container>
      <ng-container *ngIf="email.errors?.['email']">Email is invalid</ng-container>
   </span>
   
   <div class="fields">
      <label>Password</label>
   </div>
      <input type="text" formControlName="password" placeholder="password">
      <br>
      <span class="error"  [ngStyle]="{'color': 'red'}" *ngIf="password && password.invalid && password.touched">
         <ng-container  *ngIf="password.errors?.['required']">Email is required</ng-container>
      </span>
   
   <div class="fields">
      <label>Confirm Password</label>
   </div>
      <input type="text"  formControlName="confirmPassword" placeholder="confirmPassword">
      <br>
      <span class="error" [ngStyle]="{'color': 'red'}" *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched"> Confirm Password is required</span>
   
   <div class="fields">
      <label>Gender</label>
   </div>
      <select formControlName="gender">
         <option disabled value="" selected>Select Gender</option>
         <option value="Male">Male</option>
         <option value="Female">Female</option>
      </select>
      <br>
      <span class="error" [ngStyle]="{'color': 'red'}" *ngIf="gender && gender.invalid && gender.touched"> Gender is required</span>
   <br>
      <button>Submit</button>
</form>
</div>

<ng-template #showData>
 <table *ngIf="loader else noLoader">
   <thead>
      <th>ID</th>
      <th>User name</th>
      <th>Email</th>
      <th>Gender</th>
   </thead>
   <tbody>
      <tr *ngFor="let item of userInfo">
         <td>{{item.id}}</td>
         <td>{{item.username}}</td>
         <td>{{item.email}}</td>
         <td>{{item.gender}}</td>
         <td><button (click)="editUser(item)">edit</button></td>
      </tr>
   </tbody>
 </table>
<br>
 <ng-template #noLoader>
   loading....
 </ng-template>
</ng-template>